header{
    background-color:rgb(97, 171, 245);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 12012340;
}
body {margin:0;}
body > img{
    height: 100vh;
    width: 100vw;
}
main {
    margin-top: 50px;
    margin-left: 10px;
}
ul {
    display:flex;
    justify-content:space-evenly
}
li {
    list-style:none;

}
a {
    text-decoration: none;
    color:seashell;
    transition: color 0.3s;
}
a:hover{
    color:rgb(38, 19, 122);
}
.cube{
    width: 300px;
    height: 300px;
    background-color:slateblue;
    position: relative;
}
article {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    background-color:cyan
}
.inner-cube{
    width:100px;
    height:100px;
    background-color:rgb(97, 171, 245);
    position: absolute;
    top: 50%;
    right: 50%;
}
.burger {
    display:none;
}
.check {
    display:none;
}
.link{
    text-align: center;
    background-color:blueviolet;
}
.item-1{
    grid-column: 2 / 3;
    grid-row:1/4;
}
@media (max-width: 500px) {
    .check{
        display:block;
        position: absolute;
        top:0;
        left:0;
        width:40px;
        height:40px;
        opacity:0;
    }
    .burger {
        display: block;
    }
    ul {
        position: block;
        top:100%;
        left: 0;
        flex-direction:flex;
        background-color:rgb(97, 171, 245);
        margin:0;
        width:40vw;
        padding-left:0;
        align-items: center;
        cursor:pointer;
    }
    li {
        padding-bottom: 20px;
    }
    .check:checked + ul {
        display:flex;
    }
}